<%- include("../partials/header") -%> 
<% if (user) { %>

<div class="newGoal">
  <h1 class="newGoalTitle">Goal Title (15 Character Count):</h1>

  <form action="/new" method="POST">
    <div>
      <input type="text" name="title" class="form-control" maxlength="15" required />
      <br />
      <br />
      <button class="btn btn-primary btn-success" type="submit">Create</button>
    </div>
  </form>
</div>

<% } else { %>

  <div class="row goal-field">
  
    <div class="col-lg-3 col-md-6 col-sm-6 goal-body">
      <div id="Title">
        <h4 class="goal-title"> Click LogIn</h4>
        <hr />
      </div>

      <div id="Date">
        <h4 class="goal-date">
          If You Have No Account You Will Be Redirected To Gmail To Create One
        </h4>
        <hr />
      </div>

      <div class="goal-buttons">
        <a href="/auth/google">
          <button type="button" class="btn btn-primary goal-innerButtons">
            SignUp/LogIn
          </button>
        </a>
      </div>
    </div>
  </div>

<% } %>
  
<%- include("../partials/footer") -%>
